@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Tajawal-Medium';
    src: url('../public/fonts/Tajawal-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arboria-Light';
    src: url('../public/fonts/Arboria-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GE_SS_Text_Light';
    src: url('../public/fonts/GE_SS_Text_Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-arboria-light {
    font-family: 'Arboria-Light', 'sans-serif' !important;
}

.font-gess-medium {
    font-family: 'GE_SS_Text_Light', 'sans-serif' !important;
}

.font-tajwal-medium, .Toastify__toast-body > div {
    font-family: 'Tajawal-Medium', 'sans-serif' !important;
}

.font-future-bold {
    font-family: 'Futura-Bold-font', 'sans-serif';
}

.react-select__control
.react-select__value-container,
.react-select__indicators,
.react-select__menu,
.react-select__menu-list
.react-select__option,
.react-select__single-value,
.react-select__input,
.react-select__placeholder {
    background-color: #141E3C !important;
    color: white !important;
    border: 0px solid white;
}

.react-select__control {
    border: 1px solid #141E3C;
    border-radius: 5px !important;
    max-height: 45px !important;
}

.slick-prev:before {
    color: black !important;
}

.slick-next:before {
    color: black !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    background-color: #189EC9 !important;
    color : white !important;
    border: none !important;
}

.custom-shape-divider-bottom-1671694782 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

[role=tablist] button {
    color : #189EC9;
    background-color: white;
}

.PhoneInputInput {
    border: 0
}


input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: flex;
    /* background: url('../public/assets/icons/calender.svg') no-repeat; */
    width: 3vh;
    height: 3vh;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: flex;
    background: url('../public/assets/icons/clock.svg') no-repeat;
    width: 2vh;
    height: 2vh;
}

#nprogress .bar { left: auto !important; right: 0; }

.checkCircle {
    color: #84cc16 !important;
}

svg {
    color: #52525b !important
}
::-webkit-calendar-picker-indicator {
    filter: grayscale(1);
}
option[value="IL"],
input[value="+972"],
img[alt="Israel"] {
    display: none
}
input[type="tel"] {
    text-transform: capitalize;
}

